div#pt-br {
display : none;
}
.lang-button {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
border: 1px solid #36260A;
margin: 5px;
padding-left: 25px;
padding-right: 5px;
background-repeat: no-repeat;
background-position:5px center;
background-color:#F0E7C1;
font: normal normal 12px 'Courier New', Courier, FreeMono, monospace;
text-shadow: none;
color: #000000;
}
.lang-button:hover, .lang-button.active{
cursor: pointer;
background-color: #F7F1D3;
}
.lang-button#eng {
background-image: url('https://lh6.googleusercontent.com/7jjhc-O-RNDueZ0WmKikV-NB73MZVJWDqX4yJzb3UZHATfJUyKNqPb3E5-6XXW1lsp5uzZ_LwltkbKwPEtXS=w1024-h633')
}
.lang-button#pt-br {
background-image: url('https://lh4.googleusercontent.com/or0jX0-u3jqNuK-fp7xHO1LrSS6oSGhdKrWiLxnxSqrSLnNNg7JLYz-1IZ33BDqLSq7KsugqW0YSy5SJD5YB=w1024-h633')
}
